* @REPLACE_WITH_GITHUB_OWNER
/.github/ @REPLACE_WITH_GITHUB_OWNER @REPLACE_WITH_PLATFORM_OWNER
/src/ @REPLACE_WITH_GITHUB_OWNER @REPLACE_WITH_LIMS_BACKEND_OWNER
/pom.xml @REPLACE_WITH_GITHUB_OWNER @REPLACE_WITH_LIMS_BACKEND_OWNER
/cloudbuild.yaml @REPLACE_WITH_GITHUB_OWNER @REPLACE_WITH_PLATFORM_OWNER
